
<div>
    <nav class="navbar navbar-expand-lg navbar-light ">
  
      <div class="container-fluid">
        <p class="bankname navbar-brand" href="">KINGSLAB TECHNOLOGIES
  
  
        </p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Help</a>
            </li>
  
  
          </ul>
          
  
          <button type="button" class="login btn btn-outline-primary" routerLink="/searchBox">OPEN</button>
          <button type="button" class="get btn btn-outline-danger" >Log Out</button>
  
  
  
  
        </div>
      </div>
  
    </nav>
  
  </div>
  
  <div>
    <h1>Welcome </h1>
   
  
  </div>
  
  